<div class="container-fluid">
    <div>Total price: <%= @total_price_goods %></div>
    <div>Total quantity: <%= @total_count_goods %></div>
    <div class = "row">
        <%= render 'products_on_basket' %>
    </div>

    <div class='mt-2'>
        <%= link_to 'Complete order', checkout_orders_path, class: 'btn btn-success' %>
    </div>

</div>