<div class="container-fluid">
    <div>Total price: <%= @total_price_goods %></div>
    <div>Total quantity: <%= @total_count_goods %></div>
    <div class = "row">
        <%= render 'products_on_basket' %>
    </div>
</div>