<div class="container">
    <%= link_to 'Cheaper', products_path(price: :asc), class: (params[:price] == 'asc' ? 'fw-bold' : '')%>
    <%= link_to 'More expensive', products_path(price: :desc), class: (params[:price] == 'desc' ? 'fw-bold' : '') %>
</div>